.select {
    font-family: "Roboto", Helvetica, sans-serif;
    position: relative;
}

.select.is-open .select-current {
    border: 1px solid #000;
}

.select.is-open .select-current:before {
    border-color: transparent transparent #999;
    border-width: 0 5px 5px;
}

/* .select .select-option {
    line-height: 36px;
    font-size: 14px;
    font-weight: 500;
  } */

.select .select-current {
    position: relative;
    cursor: pointer;
    outline: none;
    width: 100%;
    display: inline-block;
    margin: 10px 0 0;
    height: 36px;
    line-height: 36px;
    background: #fff;
    border: 1px solid #d6d6d6;
    font-size: 14px;
    font-weight: 500;
    color: #404040;
    padding-left: 16px;
    border-radius: 0;
    -webkit-border-radius: 0;
}

.select .select-current:before {
    content: "";
    position: absolute;
    right: 10px;
    top: 15px;
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: " ";
    display: block;
    height: 0;
    width: 0;
}

.select .select-select {
    color: #404040;
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    background: #ffffff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
}

.select .select-select li.disabled {
    color: #8a8a8a;
}

.select .select-select ul {
    margin-top: 0px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    list-style-type: none;
    -webkit-overflow-scrolling: touch;
    width: 100%;

    font-size: 14px;
    font-weight: 500;
    line-height: 36px;

    max-height: 18rem;
    overflow-y: scroll;
}

.select .select-select ul li {
    padding-left: 16px;
    color: #404040;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
}

.select .select-select ul li.selected {
    background-color: #8AD5EF;
    color: #FFFFFF;
}

.select .select-select ul li.disabled {
    color: #8A8A8A;
}

.select .select-select ul li.disabled:hover {
    background: #FFFFFF !important;
    color: #8A8A8A !important;
}

.select .select-select ul li:last-child {
    border-bottom: none;
}

.select .select-select ul li:hover:not(.selected) {
    background-color: #16abe0;
    color: #ffffff;
    cursor: pointer;
}

.select .select-noresults {
    color: #ccc;
    cursor: default;
    display: block;
    padding: 8px 10px;
}