:root[data-theme='dark'] {
    --gray-10: 246, 245, 242;
    --gray-11: 142 142 147;
    --gray-12: 99 99 102;
    --gray-13: 73 55 80;
    --gray-14: 72 72 74;
    --gray-15: 70 75 80;
    --gray-16: 58 58 60;
    --gray-17: 46 48 53;
    --gray-18: 44 44 46;
    --gray-19: 39 40 45;
    --gray-20: 28 28 30;
    --gray-21: 24 24 26;
    --gray-22: 1 4 9;
    --gray-23: 1 4 9;

    --gray-81: 237 238 240;
    --gray-82: 0 0 0;
    --gray-83: 173 177 184;
    --gray-84: 0 0 0;
    --gray-85: 105 110 119;
    --gray-86: 10 10 10;
    --gray-87: 59 130 246;
    --gray-88: 60 63 68;

    --main: 13 17 23;
    --curtain: 0 0 0;
    --on: 255 255 255;
    --off: 0 0 0;
    --same-bg: 0 0 0;
    --bg-base: 28 28 30;
    --same-text: 255 255 255;
    --canvas: 27 27 31;
    --thumbnail: 247 246 251;
    --boxes: 24 24 26;

    --red-1: 225 69 58;
    --red-2: 225 105 97;
    --red-3: 244 63 94;
    --red-4: 190 18 60;
    --red-5: 255 235 233;
    --orange-1: 255 179 64;
    --orange-2: 255 159 0;
    --yellow-1: 255 214 10;
    --yellow-2: 255 212 38;
    --yellow-3: 245 158 11;
    --yellow-4: 255 248 197;
    --green-1: 48 209 88;
    --green-2: 48 219 91;
    --green-3: 46 160 67;
    --mint-1: 99 230 226;
    --mint-2: 102 212 207;
    --teal-1: 64 200 224;
    --teal-2: 93 230 255;
    --cyan-1: 100 210 255;
    --cyan-2: 112 215 255;
    --blue-1: 10 132 255;
    --blue-2: 64 156 255;
    --blue-3: 7 89 133;
    --blue-4: 96 165 250;
    --blue-5: 40 81 146;
    --indigo-1: 94 92 230;
    --indigo-2: 125 122 255;
    --purple-1: 191 90 242;
    --purple-2: 218 143 255;
    --pink-1: 255 55 95;
    --pink-2: 255 100 130;
    --brown-1: 172 142 104;
    --brown-2: 181 148 105;

    --bg-opacity: 0.15;

    input {
        color-scheme: dark;
    }
}