.on-hover {
    display: flex;
}

.mega-menu {
    display: none;
    width: 100%;
    /* background: url("/images/pattern_01.gif") rgb(var(--gray-9)/0.7) repeat fixed;
    background-position: center bottom;
    background-size: contain; */
}

.on-hover:hover .mega-menu {
    display: block;
    animation: fadeIn 800ms;
}

.on-hover:hover svg {
    transform: rotate(180deg);
}

.on-hover:active .mega-menu {
    display: block;
    animation: fadeIn 800ms;
}

.on-hover:active svg {
    transform: rotate(180deg);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}