.select ul.select-options li.selected {
    background-color: rgb(var(--blue-1));
    color: #FFFFFF;
}

.select ul.select-options li.disabled {
    color: #8A8A8A;
}

.select ul.select-options li.disabled:hover {
    background: #FFFFFF !important;
    color: #8A8A8A !important;
}

.select ul.select-options li:last-child {
    border-bottom: none;
}

.select ul.select-options li:hover:not(.selected) {
    background-color: rgb(var(--blue-4));
    color: #ffffff;
    cursor: pointer;
}

.select .select-noresults {
    color: #ccc;
    cursor: default;
    display: block;
    padding: 8px 10px;
}

.select.is-open svg {
    transform: rotate(180deg);
}