.slide1 {
    background-color: hsla(161, 0%, 100%, 1);
    background-image:
        radial-gradient(at 23% 31%, hsla(276, 81%, 60%, 1) 0px, transparent 50%),
        radial-gradient(at 22% 60%, hsla(67, 67%, 63%, 1) 0px, transparent 50%),
        radial-gradient(at 5% 14%, hsla(223, 78%, 73%, 1) 0px, transparent 50%),
        radial-gradient(at 41% 71%, hsla(35, 81%, 78%, 1) 0px, transparent 50%),
        radial-gradient(at 56% 21%, hsla(163, 80%, 73%, 1) 0px, transparent 50%),
        radial-gradient(at 89% 84%, hsla(333, 60%, 66%, 1) 0px, transparent 50%),
        radial-gradient(at 22% 65%, hsla(326, 70%, 72%, 1) 0px, transparent 50%);
}

.slide2 {
    background-color: hsla(161, 0%, 100%, 1);
    background-image:
        radial-gradient(at 7% 10%, hsla(265, 77%, 75%, 1) 0px, transparent 50%),
        radial-gradient(at 91% 6%, hsla(294, 68%, 68%, 1) 0px, transparent 50%),
        radial-gradient(at 41% 46%, hsla(218, 71%, 78%, 1) 0px, transparent 50%),
        radial-gradient(at 93% 13%, hsla(342, 74%, 62%, 1) 0px, transparent 50%),
        radial-gradient(at 49% 98%, hsla(283, 63%, 70%, 1) 0px, transparent 50%),
        radial-gradient(at 18% 59%, hsla(313, 83%, 73%, 1) 0px, transparent 50%),
        radial-gradient(at 1% 20%, hsla(76, 74%, 75%, 1) 0px, transparent 50%);
}

.slide3 {
    background-color: hsla(161, 0%, 100%, 1);
    background-image:
        radial-gradient(at 18% 39%, hsla(61, 91%, 76%, 1) 0px, transparent 50%),
        radial-gradient(at 62% 72%, hsla(336, 78%, 66%, 1) 0px, transparent 50%),
        radial-gradient(at 17% 76%, hsla(352, 66%, 70%, 1) 0px, transparent 50%),
        radial-gradient(at 48% 37%, hsla(28, 66%, 64%, 1) 0px, transparent 50%),
        radial-gradient(at 5% 40%, hsla(31, 83%, 70%, 1) 0px, transparent 50%),
        radial-gradient(at 32% 85%, hsla(179, 87%, 79%, 1) 0px, transparent 50%),
        radial-gradient(at 41% 85%, hsla(308, 91%, 66%, 1) 0px, transparent 50%);
}

.slide4 {
    background-color: hsla(161, 0%, 100%, 1);
    background-image:
        radial-gradient(at 94% 45%, hsla(151, 95%, 68%, 1) 0px, transparent 50%),
        radial-gradient(at 25% 95%, hsla(226, 80%, 69%, 1) 0px, transparent 50%),
        radial-gradient(at 54% 40%, hsla(319, 70%, 64%, 1) 0px, transparent 50%),
        radial-gradient(at 17% 86%, hsla(65, 74%, 70%, 1) 0px, transparent 50%),
        radial-gradient(at 36% 30%, hsla(168, 67%, 64%, 1) 0px, transparent 50%),
        radial-gradient(at 88% 93%, hsla(48, 68%, 69%, 1) 0px, transparent 50%),
        radial-gradient(at 95% 73%, hsla(66, 99%, 79%, 1) 0px, transparent 50%);
}